.dropbtn {
    width:100%;
    color: rgba(0,0,0,.9);
    padding: 6px 25%;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(23, 162, 184, 0.4);
    border-radius: 0.25rem;
    border: 1px solid #17a2b8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.25rem;
}

.dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(23, 162, 184, 0.4)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(23, 162, 184, 0.7);
}