.flipOut {
    animation: flip 200ms ease-out alternate 2 ;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(90deg);
    }
}

.returned {
    color:#e8e8e8;
}